/* Estilos generales */
.container-fluid {
  height: 100vh;
  padding-left: 200px; /* Espacio para el navbar */
}

/* Barra lateral */
.bg-dark {
  background-color: #000000 !important;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 1000;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: #8d2121;
}

.bi {
  font-size: 1.2rem;
  vertical-align: middle;
}

.badge {
  font-size: 0.8rem;
}

/* Logotipo */
.mw-100 {
  max-width: 100%;
}

.mh-100 {
  max-height: 100%;
}


