/* Perfil */

.perfil-card {
  border-radius: 1rem;
}

.perfil-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.foto-galeria {
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* Mover todo el contenido por el navbar (200px) */
.perfil-container {
  margin-left: 250px;
}

/* Fondo detrás del modal */
.detalle-backdrop {
  position: fixed;
  top: 0;
  left: 250px;                    /* espacio del navbar */
  width: calc(100% - 200px);      /* no se mete debajo del navbar */
  height: 100%;
  background: rgba(26, 50, 107, 0.147);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

/* Panel del modal*/
.detalle-panel {
  width: 600px;                   /* tamaño normal */
  max-width: 90%;                 /* para pantallas pequeñas */
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
}

/* Imagen dentro del modal */
.detalle-img {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 0.75rem;
}

/* Caja de comentarios */
.comentarios-box {
  background: #f8f9fa;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.comentario-item {
  font-size: 0.9rem;
}
