<!-- navbar.component.html -->
<div class="app-container">
  <nav class="navbar-lateral bg-black text-light p-3 d-flex flex-column">
    <div class="logo-container text-center">
      <img src="images/itqsocial.png" alt="logo" class="navbar-logo">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home" routerLinkActive="active">
          <i class="bi bi-house-fill"></i>
          <span class="nav-text">Inicio</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/usuario/mensajes" routerLinkActive="active">
          <i class="bi bi-chat-dots"></i>
          <span class="nav-text">Mensajes</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" (click)="abrirNotificaciones()">
          <i class="bi bi-heart"></i>
          <span class="nav-text">Notificaciones</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" (click)="abrirModal()">
          <i class="bi bi-plus-square"></i>
          <span class="nav-text">Subir Contenido</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/usuario/perfil" routerLinkActive="active">
          <i class="bi bi-person-circle"></i>
          <span class="nav-text">Perfil</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/login">
          <i class="bi bi-box-arrow-right"></i>
          <span class="nav-text">Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </nav>

</div>