.contenido-mensajes,
.contenido-chat {
  margin-left: 170px;
  padding: 30px;
  min-height: 150vh;
  background: #f8f9fa;
}

.mensajes-wrapper,
.chat-wrapper {
  max-width:1050px;
  margin: 0 auto;
}

.chat-foto {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.msg-yo {
  background: #d1e7ff;
  padding: 8px 20px;
  max-width: 70%;
  margin-left: auto;
  border-radius: 12px;
}

.msg-otra {
  background: #f1f1f1;
  padding: 8px 12px;
  max-width: 70%; /* Corregido */
  border-radius: 12px;
}

/* Tablet */
@media (max-width: 992px) {
  .contenido-mensajes,
  .contenido-chat {
    margin-left: 80px;
  }
}

/* Móvil */
@media (max-width: 768px) {
  .contenido-mensajes,
  .contenido-chat {
    margin-left: 0;
    margin-bottom: 60px;
    padding: 15px;
  }
}